body
{
    background-color: #eeeeee;
}
.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.option
{
    cursor: pointer;
}
.option:hover
{
    background-color: #dddddd;
}
.option-selected
{
    background-color: #bbbbbb;
}
.header
{
    background-color: #7db87d;
    color: #4e4116;
}
.footer
{
    background-color: #7db87d;
    color: #4e4116;
    position: fixed;
    bottom: 0;
}
 .card-navigation:hover,
 #flashcard:hover
 {
     background-color: #dddddd;
     cursor: pointer;
 }