.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.option
{
    cursor: pointer;
}
.option:hover
{
    background-color: #eeeeee;
}
.option-selected
{
    background-color: #bbbbbb;
}
.header
{
    background-color: #cccccc;
}
.footer
{
    background-color: #cccccc;
}
.container-fluid {
    padding: 0px;
 }
 .card-navigation:hover,
 #flashcard:hover
 {
     background-color: #eeeeee;
     cursor: pointer;
 }